#racine {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.mainFlex {
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

tbody {
    display: block;
    height: 250px;
    overflow: auto;
    text-align: left;
}
thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
thead {
    width: calc( 100% - 1em );
    text-align: center;
}

td {
    display: table-cell;
    vertical-align: middle;
}

#addCateg:hover::after{
    content:' Ajouter';
}